PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/gamenick_store
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d
NODE_ENV=development
RESERVED_TIMEOUT_MINUTES=15
CRYPTO_SECRET=your_crypto_secret_key_here_must_be_64_hex_chars
